{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Room index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Capacity</th>
                <th>Projector</th>
                <th>Internet connexion</th>
                <th>Address</th>
                <th>Ville</th>
                <th>Floor</th>
                <th>Available</th>
                <th>Creator</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for room in rooms %}
                <tr>
                    <td>{{ room.id }}</td>
                    <td>{{ room.name }}</td>
                    <td>{{ room.capacity }}</td>
                    <td>{{ room.hasInternet == 1 ? 'yes' : 'no' }}</td>
                    <td>{{ room.hasInternet == 1 ? 'yes' : 'no' }}</td>
                    <td>{{ room.address }}</td>
                    <td>{{ room.city }}</td>
                    <td>{{ room.floor }}</td>
                    <td>{{ room.hasInternet == 1 ? 'yes' : 'no' }}</td>
                    <td>{{ room.user.username }}</td>
                    <td>
                        <a href="{{ path('room_show', {'id': room.id}) }}">show</a>
                        <a href="{{ path('room_edit', {'id': room.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('room_new') }}">Create new room</a>
    </div>
{% endblock %}
