{% extends 'base.html.twig' %}

{% block title %}Rooms created by user{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center m-5">Rooms created by : {{ user.lastname }} {{ user.firstname }}</h1>

        <div class="shadow p-3 mb-5 bg-white rounded">
            <table class="table table-striped table-sm">
                <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Capacity</th>
                    <th>Projector</th>
                    <th>Internet connexion</th>
                    <th>Address</th>
                    <th>Ville</th>
                    <th>Floor</th>
                    <th>Available</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for room in rooms %}
                    <tr>
                        <td><strong>{{ room.name }}</strong></td>
                        <td>{{ room.category.name }}</td>
                        <td>{{ room.capacity }}</td>
                        <td>
                            {% if(room.hasProjector == 1) %}
                                <img src="{{ asset("images/check.svg") }}" width="15" alt="yes">
                            {% else %}
                                <img src="{{ asset("images/close.svg") }}" width="15" alt="no">
                            {% endif %}
                        </td>
                        <td>
                            {% if(room.hasInternet == 1) %}
                                <img src="{{ asset("images/check.svg") }}" width="15" alt="yes">
                            {% else %}
                                <img src="{{ asset("images/close.svg") }}" width="15" alt="no">
                            {% endif %}
                        </td>
                        <td>{{ room.address }}</td>
                        <td>{{ room.city }}</td>
                        <td>{{ room.floor }}</td>
                        <td>
                            {% if(room.isAvailable == 1) %}
                                <img src="{{ asset("images/check.svg") }}" width="15" alt="yes">
                            {% else %}
                                <img src="{{ asset("images/close.svg") }}" width="15" alt="no">
                            {% endif %}
                        </td>
                        <td width="100">
                            <a class="btn btn-sm btn-primary" href="{{ path('room_show', {'id': room.id}) }}"><img
                                        src="{{ asset('images/icon-view.png') }}" width="16" alt="view"></a>
                            <a class="btn btn-sm btn-dark" href="{{ path('room_edit', {'id': room.id}) }}"><img
                                        src="{{ asset('images/icon-edit.png') }}" width="16" alt="edit"></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}



